*{
			margin: 0;
			font-family:'Poppins', sans-serif;
			overflow-x: hidden;
		}
		html{
			scroll-behavior: smooth;
		}
		.overflow{
			overflow-y: hidden;
		}

		body{
			font-size: 100%;
			background-color: #C0C0C0 !important;

		}
		     /*Scrollbar customization*/
              /* width */
              ::-webkit-scrollbar {
                width: 10px;
              }

              /* Track */
              ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey; 
                background-color: #fff;
              }
               
              /* Handle */
              ::-webkit-scrollbar-thumb {
                background: red; 
                height: 100px;
                border-radius: 90px;
              }

              /* Handle on hover */
              ::-webkit-scrollbar-thumb:hover {
                background: darkred; 
              }

		#head{
			height: 100vh;
			background-image: url('images/landscape-home.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		li{
			list-style: none;
			display: inline;
			padding-right: 30px;
			direction: rtl;
			font-size: 1.05em;
		}

		a{
			text-decoration: none !important;
			color: white !important;
			transition: all .5s !important;
		}

		a:hover{
			color: red !important;
			text-decoration: underline !important;
		}

		.logo{
			width: 50px;
			display: flex;
			float: left;
			padding-top: 12px;
			padding-bottom: 12px;
			margin-left: 50px;
		}

		@media screen and (max-width:1150px){
		  #nav_bars{
		    display: block !important;
		    position: absolute;
		    right: 50px;
		    color: white;
		  }
		  
		  #list{
				display: none;
				margin-right: 50px;
			}
			.input{
				width: 400px;
			}
}

@media screen and (max-width:900px){
	.input{
				width: 300px;
			}
}

#nav_bars{
  display: none;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 20px;
  transition: all .5s;
  cursor: pointer;
}

#nav_bars:hover{
	color: red;
}

.position{
	position: fixed;
	width: 100%;
	z-index: 8000;
	top: 0;
	transition: all 300ms ease-in-out;
}

.button{
	background-color: red !important;
	color: white !important;
	transition: all .5s !important;
}

.button:hover{
	background-color: darkred;
	color: white;
}

.overlayy{
       background-color: rgba(0,0,0,0.4);
       position:  absolute;
       top:  0;
       left: 0;
       z-index: 20;
       width: 100%;
       height: 100%;
   }

   .social{
   	width: 30px;
   }
   
   /*Scroll to top button*/
   #btnScrollToTop{
   	position: fixed;
   	right: 10px;
   	bottom: 10px;
   	width: 50px;
   	height: 50px;
   	border-radius: 50%;
   	background-color: red;
   	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
   	color: white;
   	cursor: pointer;
   	outline: none;
   	border: none;
   	transition: all .4s;
   	display: none;
   }

   #btnScrollToTop:active{
   	background-color: #cc2333;
   }

   #btnScrollToTop.active{
   	opacity: 1;
   	display: block;
   }

   .margin-top{
   	margin-top: 70px;
   }

   .popup{
   	position: fixed;
   	top: -100%;
   	left: 50%;
   	transform: translate(-50%, -50%);
   	z-index: 9999; 
   	background-color: #000;
   	width: 90%;
   	height: 90%;
   	padding: 80px 50px 50px;
   	transition: 0.5s;
   	visibility: hidden;
   }

   .popup.active{
   	visibility: visible;
   	top: 50%;
   }

   .close{
   	position: absolute;
   	top: 10px;
   	right: 10px;
   	color: white;
   	cursor: pointer;
   }

   .close:hover{
   	color: red;
   }

   #modal{
   	text-align: left;
   }

   #modal li{
   	display: block;
   	padding-top: 30px;
   }

   /*modal*/

		.modal{
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: 200ms ease-in-out;
			border: 1px solid black;
			border-radius: 10px;
			z-index: 10;
			background-color: white;
			width: 500px;
			max-width: 80%;
		}

		.modal.active{
			transform: translate(-50%, -50%) scale(1);
		}

		#overlay {
			position: fixed;
			opacity: 0;
			transition: 200ms ease-in-out;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, .5);
			pointer-events: none !important;
			z-index: 9000;
		}
		#overlay.active{
			opacity: 1;
			/*pointer-events: none !important;*/
		}

		.no-pointer{
			pointer-events: none;
		}

		.search_box{
			position: absolute;
			left: 120px;
			margin-top: 20px;
			overflow-y: hidden;	
		}

		.search_box1{
			/*position: absolute;
			left: 120px;*/
			margin-top: 0px;
			overflow-y: hidden;	
			display: none;
		}

		.input{
			direction: ltr;
			padding: 5px;
			/*width: 100%;
			height: 100%;*/
			/*padding: 10px 20px;*/
			border-radius: 3px;
			font-size: 18px;
			border: none;
			outline: none;
		}

		.btn{
			position: relative;
			left: 0px;
			width: 60px;
			margin-bottom: 5px;
			/*height: 100%;*/
			background-color: red !important;
			z-index: 1;
			cursor: pointer;
			color: white !important;
		}

		.search_icon{
			display: none !important;
			transition: all .5s;
			cursor: pointer;
		}

		.search_icon:hover{
			color: red;

		}

		@media screen and (max-width:600px){
			.search_box{
				display: none;
		}

		.search_box1{
			display: block;
		}

		.input{
			width: 70%;
			margin-left: 30px;
		}
		.popup{
			overflow-y: hidden;
		}
}

@media screen and (max-width: 525px){
	.input{
			width: 60%;
		}
}

@media screen and (max-width: 320px){
	.input{
			width: 50%;
		}
}
